*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#003476;
    --secundary-color:#b4d2f7;
    --header-size: 4rem;
    --font: 1.8rem;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
header {
    background-color: var(--primary-color);
}
.container {
    border: 0.3rem solid black;
    display: flex;
    /*flex-wrap: wrap;space around;space evenly*/
    align-items:flex-end;
    height: 50vh;
}
.box {
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: blue;
    flex-grow: 1;
}
.box2 {
    background-color: aqua;
    order:3;
    flex-grow: 2;
}
.box3 {
    background-color: blanchedalmond;
}
.box4 {
    background-color: wheat;
}
.box5 {
    background-color: chartreuse;
    order: 4;;
}
.box6{
    background-color: crimson;
    order: 2;
}
